
/*Font Style*/

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/**{
    margin: 0;
}*/
.text-style{
color: #4E47FF;
  font-size: 34px;
}
/*header part*/
header{
    background-image: url(../Assets/Hero-bg.png);
    /*width: 1440px;*/
    height: 698px;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    
}

 main{
    width: 1140px;
    margin:0 auto;
    margin-top: 116px;
 }
 body{
    background-color: #f5f7ff;
 }
 .banner{
    margin:158px 267px 152px;
    gap: 20px;
 }
 /*shared btn*/
.btn-primary{
    background-color: #4E47FF;
    padding: 12px 36px;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
}
.btn-primary:hover{
    background-color: yellow;
    color: #000000;
    cursor: pointer;
}
.btn{
    display: block;
    margin: auto;
}
.banner-heading{
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    
}
/*action part*/
.action{
    display: flex;
    justify-content:space-between;
    gap: auto;
}
.action-tile{
    font-size: 42px;
    font-weight: bold;
}
.action-description{
    
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
.img-position{
    border-radius: 48px;
}

/*productive user*/

.productive-user-title{
font-weight: bold;
font-size: 38px;
text-align: center;
}
.productive-users{
    background-color: rgba(78, 71, 255, 0.1);
    padding:80px 50px;
    border-radius: 24px;
    margin-top: 116px;
    
}
.about{
    display: flex;
    justify-content: space-around;
    padding: auto  auto 50px;
    
}
.user-data h3{
    font-size: 80px ;
    font-weight: bold;
    color:#4E47FF ;
    margin: 0;
    
}
.user-data p{
    font-size: 20;
    color:rgba(0, 0, 0, 0.5) ;
    margin: 0;
}

/*Feedback*/
.user-feedback h2{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    gap: 50px;
 }
 .star-icon{
    display: flex;
    
 }

.reviewer{
    display: flex;
    gap:12px;
    align-items: center;
   

 }
 .reviewer img{
    width: 40px;
    height: 40px;

    border-radius: 999px;
 }
 .reviewer-name{
    color: rgba(117, 117, 117, 1)
 }
.date{
 color:rgba(179, 179, 179, 1)
}
 .card{
     width: 300px;
     padding: 24px;
     background-color:  rgba(255, 255, 255, 0.5);
     border-radius: 14px;
     border: 0.03px solid #F2EDED;
     gap: 20px;


}
.get-feedback{
    gap: 20px;
}
 .feedback-titel{
    font-size: 29px;
 }
 .feedback-description{
    font-size: 20px;
 }
 .card-container{
    display: flex;
    justify-content: space-around;
    gap: 50px;

 }
 .user-feedback{
    margin-top:116px ;
 }

/*ready to focus*/
.ready-to-focus{
    background-color: white;
    margin-top: 137px;
    
}
.text h2{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding: 71px 312px 20px;
    margin: auto;
}
.text p{
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
.ready-to-img img{
    border-radius: 48px;
    margin: 20px 150px 71px;
    
}

/*get in touch*/
.get-in-touch{
    display: flex;
    align-items: center;
    margin-top: 92.23px;
    margin-bottom: 71px;
    /*color: rgba(255, 255, 255, 0.5);*/
 }
 .get-titel{
    font-size: 55px;
    font-weight: bold;
    
}
.form input[type="email"],.form input[type="text"]
{
    margin-bottom: 24px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    display: block;
    border: none;
    padding: 20px 275px 20px 32px;
}
.form textarea{
    height: 135px;
    display: block;
    width: 100%;
    margin-bottom: 24px;
    border-radius: 10px;
    border: none;
    
}
.form button{
    width: 100%;
     
}
.label-style{
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
textarea::placeholder{
    padding: 32px 20px;
    font-size: 20px;
}

/*Footer*/

footer{
    background-color: white;
}
.footer{
    max-width: 700px;
    margin: 0 auto;
    padding: 104px;
}
.logo h2{
    font-size: 100px;
    color: #4E47FF;
    text-align: center;
    margin: 0;
}
.logo p{
    font-size: 20px;
    color: #8987A1;
    text-align: center;
}
.service-container ul{
    list-style: none;
}
.service-container a{
    text-decoration: none;
    color: #000000;
}
.service-container ul{
    display: flex;
    justify-content: center; 
    gap: 48px;
    margin: 20px;
}
.service-container li:hover{
    background-color:#4E47FF;
    color: #000000;
}
